* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
header {
  width: 100vw;
  height: 100vh;
  background-image: url(./images/couple-love.jpg);
  /* background-repeat: no-repeat; */
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-content {
  margin-bottom: 150px;
  color: whitesmoke;
  text-align: center;
}
.header-content h2 {
  font-size: 4vmin;
  margin-top: 250px;
}
.line {
  width: 300px;
  height: 5px;
  background: red;
  margin-left: 30px;
  margin-bottom: 30px;
}
.header-content h1 {
  font-size: 45px;
}
.active {
  color: whitesmoke;
  text-decoration: underline;
  font-weight: bold;
}
.navbar {
  position: absolute;
  display: flex;
  top: 0%;
  left: 0%;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  color: whitesmoke;
}
.links {
  display: flex;
  align-items: center;
}

.links li {
  margin: 0px 20px;
  color: white;
}
ul {
  list-style: none;
  color: white;
}
.ctn {
  background-color: whitesmoke;

  color: white;
  padding: 8px 15px;
  border-radius: 15px;
}
section {
  width: 80%;
  margin: 80px auto;
}
.title {
  text-align: center;
  font-size: 4vmin;
  color: slateblue;
}
.line2 {
  width: 300px;
  height: 5px;
  background: red;
  margin-left: 520px;
  margin-bottom: 30px;
  margin-top: 15px;
}
.row {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background: plum;
}
.row .col img {
  width: 80%;
}
.row .col {
  display: flex;
  align-items: center;
  flex-direction: column;
}
h4 {
  margin-top: 10px;
}
.col p {
  margin-left: 60px;
  margin-bottom: 10px;
}
.events {
  width: 100%;
}
body,
html {
  overflow-x: hidden;
}
